<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>main</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="__PUBLIC__/echarts/echarts.min.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="__CSS__/admin-1.css" media="all">
<body class="layui-layout-body" style="overflow-y:visible;">
    <div class="layadmin-tabsbody-item layui-show"><div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header">数据统计</div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                <div carousel-item="">
                  <ul class="layui-row layui-col-space10 layui-this">
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>最新消息</h3>
                        <p><cite>{$data['information']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>月嫂数量</h3>
                        <p><cite>{$data['matron']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>待审核月嫂</h3>
                        <p><cite>{$data['audit_matron']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>佣金记录</h3>
                        <p><cite>{$data['commission_log']}</cite></p>
                      </a>
                    </li>
                  </ul>
                </div>
              <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button><button class="layui-icon layui-carousel-arrow" lay-type="add"></button></div>
            </div>
          </div>
        </div>
        <div class="layui-col-md6">
          <div class="layui-card">
            <div class="layui-card-header"></div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
                <div carousel-item="">
                  <ul class="layui-row layui-col-space10 layui-this">
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>请假记录</h3>
                        <p><cite>{$data['apply']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>评价记录</h3>
                        <p><cite>{$data['evaluate']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>订单总数</h3>
                        <p><cite>{$data['order']}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs6">
                      <a lay-href="" class="layadmin-backlog-body">
                        <h3>申请退款中</h3>
                        <p><cite>{$data['order_refund']}</cite></p>
                      </a>
                    </li>
                  </ul>
                </div>
              <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button><button class="layui-icon layui-carousel-arrow" lay-type="add"></button></div>
            </div>
          </div>
        </div>
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">管理员登录</div>
            <div class="layui-card-body" id="main" style="height: 450px;">

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">版本信息</div>
        <div class="layui-card-body layui-text">
          <table class="layui-table">
            <colgroup>
              <col width="100">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td>当前版本</td>
                <td>
                    {$info.tplay}
                </td>
              </tr>
              <tr>
                <td>技术支持</td>
                <td>
                  安徽犇犇牛网络科技有限公司
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">
          公告
        </div>
        <div class="layui-card-body layui-text layadmin-text">
          <p>欢迎使用月嫂管理系统</p>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">系统信息</div>
        <div class="layui-card-body layui-text">
          <table class="layui-table">
            <colgroup>
              <col width="200">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td>操作系统</td>
                <td>
                    {$info.win} 
                </td>
              </tr>
              <tr>
                <td>PHP版本</td>
                <td>
                 {$info.php} 
               </td>
              </tr>
              <tr>
                <td>运行环境</td>
                <td>{$info.environment}</td>
              </tr>
              <tr>
                <td>上传最大限制</td>
                <td>
                  {$info.upload_size}
                </td>
              </tr>
              <tr>
                <td>执行时间限制</td>
                <td>
                  {$info.execution_time}
                </td>
              </tr>
              <tr>
                <td>剩余空间大小</td>
                <td>
                  {notempty name="$info.disk"}{$info.disk}{else/}未知{/notempty}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    
  </div>
  </div>
  </div>



<script type="text/javascript">
var a = "{$web.date_string}";
var date = a.split(",");

var b = "{$web.login_sum}";
var login_sum = b.split(",");


var myChart = echarts.init(document.getElementById('main'));

option = {
    tooltip: {
        trigger: 'axis',
        position: function (pt) {
            return [pt[0], '10%'];
        }
    },
    grid: {
        top: 50,
        bottom: 70,
        left:40,
        right:50
    },
    toolbox: {
        feature: {
            dataZoom: {
                yAxisIndex: 'none'
            },
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
    },
    dataZoom: [{
        type: 'inside',
        start: 0,
        end: 100
    }, {
        start: 0,
        end: 100,
        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
        handleSize: '100%',
        handleStyle: {
            color: '#fff',
            shadowBlur: 3,
            shadowColor: '#009688',
            shadowOffsetX: 2,
            shadowOffsetY: 2
        }
    }],
    series: [
        {
            name:'管理员登录',
            type:'line',
            smooth:true,
            symbol: 'none',
            sampling: 'average',
            itemStyle: {
                normal: {
                    color: '#009688'
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: '#009688'
                    }, {
                        offset: 1,
                        color: '#009688'
                    }])
                }
            },
            data: login_sum
        }
    ]
};
myChart.setOption(option);
</script>
</body>
</html>