<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>优惠券列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="__PUBLIC__/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
</head>
<body class="layui-layout-body" style="overflow-y:visible;">
    <div class="layui-form">
        <blockquote class="layui-elem-quote quoteBox">
                <div class="layui-inline" style="margin-left: 2rem;">
                    <a class="layui-btn add">添加优惠券</a>
                </div>
                <div class="layui-inline" style="margin-left: 1rem;">
                    <input type="text" placeholder="优惠券名称" class="layui-input" id="title">
                </div>
                <div class="layui-inline" style="margin-left: 1rem;">
                    <a class="layui-btn  layui-btn-normal" id="search">搜索</a>
                </div>
        </blockquote>
    </div>
<table class="layui-hide" id="table" lay-filter="table">
  
</table>
</body>
<script type="text/html" id="status">
    <input type="checkbox" data-id="{{d.id}}" name="status" lay-skin="switch" {{# if(d.status == 1){ }}checked{{# } }} lay-filter="is_status" lay-text="启用|禁用">
</script>
<script type="text/html" id="buttons">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['table','form','layer'], function(){
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  table.render({
    elem: '#table' //表格id
    ,url:"{:url('admin/coupon/list')}"//list接口地址
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度
    ,height: 'full-120',
    page: true,
    limits: [15, 25, 45, 60],
    limit: 15
    ,cols: [[
    //align属性是文字在列表中的位置 可选参数left center right
    //sort属性是排序功能
    //title是这列的标题
    //field是取接口的字段值
    //width是宽度，不填则自动根据值的长度
      {field:'id', title: 'ID',align: 'center',width:80},
      {field:'title',title: '优惠券名称',align: 'center',width:150},
      {field:'face_value',title: '面值',align: 'center',width:100},
      {field:'type',title: '类型',align: 'center',width:180,templet:function(d){
          if(d.type == 1){
              return '新人券';
          }else{
              return '普通券';
          }
      }},
      {field:'validity_time',title: '领取后有效期',align: 'center',width:180,templet:function(d){
          return d.validity_time + '天';
      }},
      {field:'full',title: '券满多少可用',align: 'center',width:180},
      {field:'status',title: '是否启用',align: 'center',width:180,templet:'#status'},
      {field:'total',title: '优惠券总数',align: 'center',width:180},
      {field:'receive_num',title: '已领取数',align: 'center',width:180},
      {field:'start_time',title: '开始领取日期',align: 'center',width:180},
      {field:'end_time',title: '结束领取日期',align: 'center',width:180},
      {field:'create_time', title: '创建时间',align: 'center',width:180},
      {field:'update_time', title: '最后修改时间',align: 'center',width:180},
      {fixed:'right',title: '操作', align:'center', toolbar: '#buttons',width:150}
    ]]
  });
  form.on('switch(is_status)', function (obj) {
        //找被点击的div同级的input上的data-id
        var id = obj.othis.siblings("input").data('id');
        var bool = obj.elem.checked;
        $.post("{:url('admin/coupon/status')}",{id:id,status:bool},function(res){
            console.log(res);
        },'json')
  });
    //监听
  table.on('tool(table)', function(obj){
      console.log(obj);
      //data就是一行的数据
      var data = obj.data;
      if(obj.event === 'del'){
          layer.confirm('真的删除吗', function(index){
              $.post("{:url('admin/coupon/del')}",{id:data.id},function(res){
                if (res.status == 1) {
                    obj.del();//删除表格这行数据
                }
                layer.msg(res.msg);
              },'json')
          });
      }else if(obj.event === 'edit'){
        var index = layer.open({
            type: 2,
            content: "{:url('admin/coupon/edit')}"+'?id='+data.id,
            maxmin: true,
            title:'编辑优惠券'
        });
        layer.full(index);
      }
    });
});
$('.add').click(function(){
    var index = layer.open({
        type: 2,
        content: "{:url('admin/coupon/add')}",
        maxmin: true,
        title:'添加优惠券'
    });
    layer.full(index);
})
$('#search').click(function(){
      //传递where条件实现搜索，并且重载表格数据
      layui.use('table', function(){
            var table = layui.table;
            table.reload('table', { //表格的id
                url:"{:url('admin/coupon/list')}",
                where:{
                    'title':$('#title').val()
                }
            });
      })
})
$(document).on('keydown', function(e){
    if(e.keyCode == 13){
        $('#search').click();
    }
})
</script>
</html>