<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>月嫂入驻申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="__PUBLIC__/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
</head>
<body class="layui-layout-body" style="overflow-y:visible;">
  <form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="layui-inline" style="margin-left: 1rem;">
            <input type="text" placeholder="姓名或者手机号" class="layui-input" id="name_mobile">
        </div>
        <div class="layui-inline" style="margin-left: 1rem;">
            <a class="layui-btn  layui-btn-normal" id="search">搜索</a>
        </div>
    </blockquote>
</form>
<table class="layui-hide" id="table" lay-filter="table">

</table>
</body>
<script type="text/html" id="avatar">
  <div>
    <a href="#">
      <img src="{{d.avatar_url}}" style="width: 30px">
    </a>
  </div>
</script>
<script type="text/html" id="buttons">
  {{# if(d.status == 2){ }}
  <a class="layui-btn layui-btn-xs" lay-event="status1">审核通过</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="status3">拒绝入驻</a>
  {{# } }}
  {{# if(d.status == 1){ }}
      <span style="color:green;">已审核通过</span>
  {{# } }}
  {{# if(d.status == 3){ }}
  <span style="color:red;">已拒绝入驻</span>
{{# } }}
</script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['table','form','layer'], function(){
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  table.render({
    elem: '#table' //表格id
    ,url:"{:url('admin/matron/list')}"//list接口地址
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度
    ,height: 'full-120',
    page: true,
    limits: [15, 25, 45, 60],
    limit: 15
    ,cols: [[
    //align属性是文字在列表中的位置 可选参数left center right
    //sort属性是排序功能
    //title是这列的标题
    //field是取接口的字段值
    //width是宽度，不填则自动根据值的长度
      {field:'id', title: 'ID',align: 'center',width:100},
      {field:'nickname',title: '用户',align: 'center',width:100},
      {field:'openid',title: 'openid',align: 'center'},
      {field:'avatar_url',title: '微信头像',align: 'center',width:100,templet:"#avatar"},
      {field:'name', title: '姓名',align: 'center',width:100},
      {field:'mobile', title: '手机号',align: 'center',width:220},
      {field:'matron_create_time', title: '申请入驻时间',align: 'center',width:220},
      {field:'matron_update_time', title: '操作时间',align: 'center',width:220,templet:function(d){
          if(d.matron_update_time == 0){
              return '未审核';
          }else{
              return d.matron_update_time;
          }
      }},
      {fixed:'right',title: '操作', align:'center', toolbar: '#buttons',width:200}
    ]],
    done: function () {
        hoverOpenImg();
    }
  });
  //监听
  table.on('tool(table)', function(obj){
      console.log(obj);
      //data就是一行的数据
      var data = obj.data;
      if(obj.event === 'status1'){
          layer.confirm('确认审核通过吗', function(index){
              $.post("{:url('admin/matron/status')}",{id:data.id,status:1},function(res){
                if (res.status == 1) {
                  layui.use('table', function(){
                        var table = layui.table;
                        table.reload('table', { //表格的id
                            url:"{:url('admin/matron/list')}",
                            where:{}
                        });
                  })
                }
                layer.msg(res.msg);
              },'json')
          });
      }else if(obj.event === 'status3'){
          layer.confirm('确认拒绝审核吗', function(index){
              $.post("{:url('admin/matron/status')}",{id:data.id,status:3},function(res){
                if (res.status == 1) {
                  layui.use('table', function(){
                        var table = layui.table;
                        table.reload('table', { //表格的id
                            url:"{:url('admin/matron/list')}",
                            where:{}
                        });
                  })
                }
                layer.msg(res.msg);
              },'json')
          });
      }
    });
});
function hoverOpenImg() {
        var img_show = null;
        $('td img').hover(function () {
            var kd = $(this).width();
            var kd1 = kd * 5;
            var kd2 = kd * 5 + 30;
            var img = "<img class='img_msg' src='" + $(this).attr('src') + "' style='width:" + kd1 + "px;' />";
            img_show = layer.tips(img, this, {
                tips: [2, 'rgba(41,41,41,.1)']
                , area: [kd2 + 'px']
            });
        }, function () {
            layer.close(img_show);
        });
    }
$('#search').click(function(){
      //传递where条件实现搜索，并且重载表格数据
      layui.use('table', function(){
            var table = layui.table;
            table.reload('table', { //表格的id
                url:"{:url('admin/matron/list')}",
                where:{
                    'name_mobile':$('#name_mobile').val()
                }
            });
      })
})
$(document).on('keydown', function(e){
    if(e.keyCode == 13){
        $('#search').click();
    }
})
</script>
</html>