<script type="text/html" id="b_nursing">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.b_nursing>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
<script type="text/html" id="early_education">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.early_education>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
<script type="text/html" id="collocation">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.collocation>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
<script type="text/html" id="feed">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.feed>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
<script type="text/html" id="m_nursing">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.m_nursing>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
<script type="text/html" id="communicate">
    <div class="layui-inline">
        <ul class="layui-rate" style="padding: 0;">
            {{# for(var i=0;i<5;i++){ }}
                {{# if(d.communicate>i){ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate-solid"></i></li>
                {{# }else{ }}
                    <li class="layui-inline"><i class="layui-icon layui-icon-rate"></i></li>
                {{# } }}
            {{# } }}
        </ul>
    </div>
</script>
