<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>佣金记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="__PUBLIC__/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
</head>
<body class="layui-layout-body" style="overflow-y:visible;">
    <div class="layui-form">
        <blockquote class="layui-elem-quote quoteBox">
                <div class="layui-inline" style="margin-left: 1rem;">
                    <input type="text" placeholder="请输入订单号" class="layui-input" id="ordersn">
                </div>
                <div class="layui-inline" style="margin-left: 1rem;">
                    <a class="layui-btn  layui-btn-normal" id="search">搜索</a>
                </div>
        </blockquote>
    </div>
<table class="layui-hide" id="table" lay-filter="table">
  
</table>
</body>
<script type="text/html" id="buttons">
    <a class="layui-btn layui-btn-xs" lay-event="show">查看订单</a>
</script>
<script src="__PUBLIC__/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['table','form','layer'], function(){
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  table.render({
    elem: '#table' //表格id
    ,url:"{:url('admin/commission/list')}"//list接口地址
    ,cellMinWidth: 80 //全局定义常规单元格的最小宽度
    ,height: 'full-120',
    page: true,
    limits: [15, 25, 45, 60],
    limit: 15
    ,cols: [[
    //align属性是文字在列表中的位置 可选参数left center right
    //sort属性是排序功能
    //title是这列的标题
    //field是取接口的字段值
    //width是宽度，不填则自动根据值的长度
      {field:'id', title: 'ID',align: 'center',width:80},
      {field:'ordersn',title: '订单号',align: 'center'},
      {field:'commission',title: '佣金',align: 'center',width:180},
      {field:'o_name',title: '订单用户姓名',align: 'center',width:180},
      {field:'o_mobile',title: '订单用户手机号',align: 'center',width:180},
      {field:'u_name',title: '月嫂姓名',align: 'center',width:180},
      {field:'days',title: '天数',align: 'center',width:180},
      {field:'create_time', title: '创建时间',align: 'center',width:180},
      {fixed:'right',title: '操作', align:'center', toolbar: '#buttons',width:180}
    ]]
  });
  table.on('tool(table)', function(obj){
      console.log(obj);
      //data就是一行的数据
      var data = obj.data;
      if(obj.event === 'show'){
        var index = layer.open({
            type: 2,
            content: "{:url('admin/order/index')}"+'?ordersn='+data.ordersn,
            maxmin: true,
            title:'查看订单'
        });
        layer.full(index);
      }
    });
});
$('#search').click(function(){
      //传递where条件实现搜索，并且重载表格数据
      layui.use('table', function(){
            var table = layui.table;
            table.reload('table', { //表格的id
                url:"{:url('admin/commission/list')}",
                where:{
                    'ordersn':$('#ordersn').val()
                }
            });
      })
})
$(document).on('keydown', function(e){
    if(e.keyCode == 13){
        $('#search').click();
    }
})
</script>
</html>